<!--手机预览展示区-->
<div ng-if="design.overallData.phoneView.showPhoneView" align="center"
     style="background: rgba(93,93,94,0.55);position: fixed;top: 0;left: 0; right: 0; bottom: 0; width: 100%;z-index: {{zIndexHelper.phoneView}};">
    <div style="max-height: 760px; height: {{overallData.screen.height}}px; position: relative;width: 350px; display: block">
        <!--手机框框标识区-->
        <div style="position: absolute;top: 0;bottom: 0;background: #efefef;width: 350px;border: 2px solid rgba(212, 165, 107, 0.82);border-radius: 50px;padding: 10px 5px;box-shadow: 0 0 5px rgba(183, 145, 77, 0.83)">

            <!--手机图标头部标识-->
            <div style="position: absolute;top: 10px;width: 340px; text-align: center">
                <div style="width: 7px; height: 7px; border: 1px solid grey;border-radius: 7px;display: inline-block;"></div>
                <div style="width: 50px; height: 5px; border: 1px solid grey;border-radius: 7px;display: inline-block;margin-left: 10px;background: grey"></div>
            </div>

            <!--关闭按钮-->
            <div style="cursor: pointer;position: absolute;top: 30px;left: -120px;width: 90px;height: 30px;border: 1px solid #C4CEDC; font-size: 14px;padding: 4px 0 0 0 ;background: white; border-radius: 5px;"
                 ng-click="design.closePhoneView()">
                <span>关闭</span>
            </div>

            <!--展示预览HTML界面-->
            <!--直接在页面上渲染，无需保存文件操作，更快捷更好用户体验感-->
            <div class="scrollBar-7" style="background: white;text-align: left;overflow-y: auto;overflow-x: hidden;position: absolute; top: 50px;width: 336px;bottom: 67px;border: 1px solid #C4CEDC;border-width: 1px 0 1px 0">
                <div ng-repeat="value in design.sheet track by $index" style="display: flex;">
                    <div style="flex: 1"></div>
                    <div style="flex: 8;">
                        <!--占位空间-->
                        <div style="width: 100%;height: 20px"></div>
                        <div>
                            <!------------------------ OUTLINE -------------------------->
                            <design-render-paragraph></design-render-paragraph><!--内容-->

                            <!------------------------ OUTLINE -------------------------->
                            <design-render-single-select></design-render-single-select> <!--单选题-->
                            <design-render-single-scale></design-render-single-scale> <!--量表题-->
                            <design-render-matrix-single-select></design-render-matrix-single-select> <!--矩阵单选-->
                            <design-render-matrix-single-scale></design-render-matrix-single-scale> <!--矩阵量表-->
                            <design-render-pull-single-select></design-render-pull-single-select> <!--下拉单选-->

                            <!------------------------ OUTLINE -------------------------->
                            <design-render-multi-select></design-render-multi-select> <!--多选题-->
                            <design-render-matrix-multi-select></design-render-matrix-multi-select> <!--矩阵多选-->

                            <!------------------------ OUTLINE -------------------------->
                            <design-render-single-fill></design-render-single-fill> <!--单项填空-->
                            <design-render-matrix-fill></design-render-matrix-fill> <!--矩阵填空-->
                            <design-render-detail-fill></design-render-detail-fill> <!--详情填写-->
                        </div>
                        <!--占位空间-->
                        <div style="width: 100%;height: 20px"></div>
                    </div>
                    <div style="flex: 1"></div>
                </div>
                <!--提交按钮-->
                <div style="margin-top: 20px;display: flex">
                    <div style="flex: 1"></div>
                    <button class="btn btn-info" style="flex: 8; font-family: 微软雅黑;outline: none; width: 100%; padding: 9px; font-size: 16px; border: none;border-radius: 7px;color: white; background: #4eb3eb" disabled="disabled">提交</button>
                    <div style="flex: 1"></div>
                </div>

                <!--占位空间-->
                <div style="width: 100%;height: 60px"></div>
            </div>
            <!--手机图标尾部标识-->
            <div style="position: absolute;bottom: 10px;;left: 5px;width: 340px; text-align: center">
                <div style="width: 40px; height: 40px; border: 2px solid grey;border-radius: 25px;display: inline-block;position: relative;left: 7px"></div>
            </div>

        </div>
    </div>
</div>


